* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Open Sans", sans-serif;
}
.parent .container {
  background-image: url("images/landing.jpg");
  background-size: cover;
  position: relative;
  min-height: 100vh;
  background-color: black;
}

.black {
  background-color: black;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

header {
  position: absolute;
  left: 0;
  z-index: 1;
  color: white;
  width: 100%;
}

header .container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 1200px) {
  header .container {
    width: 1100px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  header .container {
    width: 800px;
  }
}

header .container::before {
  position: absolute;
  content: "";
  width: calc(100% - 30px);
  height: 1px;
  background-color: #a2a2a2;
  bottom: 0;
}
header .container nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
header .container nav .ul1 {
  display: flex;
  list-style: none;
}

.fa-bars {
  display: none;
  font-size: 22px;
}
.fa-magnifying-glass {
  margin-left: 30px;
  margin-top: 9px;
}
.search {
  position: relative;
  height: 30px;
}
.search::after {
  content: "";
  position: absolute;
  left: 8px;
  top: -2px;
  background-color: white;
  width: 1px;
  height: 100%;
}
header .container nav .ul1 li {
  font-size: 14px;
  position: relative;
}
header .container nav .ul1 li a:hover {
  border-bottom: 1px solid #19c8fa;
  color: #19c8fa;
}

header .container nav .ul1 li a {
  text-decoration: none;
  color: white;
  padding: 42px 15px;
  transition: 0.3s;
}

header .container nav .ul1 .a1 {
  color: #19c8fa;
  border-bottom: 1px solid #19c8fa;
}

.text {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 50%;
  color: white;
  background-color: rgb(15 116 143 / 70%);
  padding: 50px;
  display: flex;
  justify-content: flex-end;
}

.text .content {
  max-width: 500px;
}
.text .content h1 {
  margin-bottom: 20px;
  line-height: 1.5;
  font-weight: 100;
}
.text .content p {
  font-size: 14px;
  line-height: 2;
}

.fa-chevron-left {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 30px;
}
.fa-chevron-right {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  margin-right: 30px;
}

.circle {
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.circle span {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  display: block;
  margin-right: 10px;
  border: 1px solid white;
}
.circle span:nth-child(2) {
  background-color: #19c8fa;
}

.servicesTitle {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.servicesTitle .container h1 {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 200;
}
.servicesTitle .container p {
  color: #777;
  line-height: 2;
}
.servicesTitle .container .circ {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.servicesTitle .container .circ span {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid black;
  position: relative;
}
.servicesTitle .container .circ span::before {
  position: absolute;
  content: "";
  height: 2px;
  width: 60px;
  background-color: black;
  left: -62px;
  top: 7px;
}
.servicesTitle .container .circ span::after {
  position: absolute;
  content: "";
  height: 2px;
  width: 60px;
  background-color: black;
  left: 17px;
  top: 7px;
}

@media (max-width: 767px) {
  .text {
    width: 100%;
    justify-content: flex-start;
  }
  .text .content {
    max-width: 100%;
  }
  .fa-chevron-right,
  .fa-chevron-left {
    display: none;
  }
  header .container nav .ul1 {
    display: none;
  }
  .fa-bars {
    display: block;
  }
}

.linkMobile {
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
  background-color: rgb(15 15 15 / 50%);
  padding: 15px;
  z-index: 5;
  display: none;
}
.linkMobile ul {
  list-style: none;
}

.linkMobile ul li a {
  text-decoration: none;
  color: white;
}
.linkMobile ul li {
  padding-bottom: 15px;
  padding-top: 15px;
}
.linkMobile ul li .a2 {
  color: #19c8fa;
}

.linkMobile ul .l1 {
  color: #19c8fa;
  border-bottom: 1px solid #19c8fa;
}

.fa-bars:hover + .linkMobile {
  display: block;
}

.services {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.services .container .services1 {
  display: flex;
}
.services .container .services1 i {
  margin-right: 50px;
}
.services .container .services1 h3 {
  color: #19c8fa;
  padding-bottom: 30px;
}

.services .container .services1 p {
  line-height: 2;
  color: #777;
}

@media (min-width: 768px) {
  .services .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    gap: 40px;
  }
}

@media (max-width: 768px) {
  .services .container .services1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 40px;
  }
  .services .container .services1 i {
    margin-right: 0px;
    margin-bottom: 30px;
  }
}
@media (min-width: 1200px) {
  .services {
    width: 1170px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .services {
    width: 970px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .services {
    width: 750px;
  }
}

.featurs {
  background-image: url("images/design-features.jpg");
  background-size: cover;
  height: 600px;
  margin-top: 100px;
  margin-bottom: 100px;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.featurs::before {
  position: absolute;
  content: "";
  background-color: black;
  opacity: 0.6;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}

.featurs .container {
  position: relative;
  z-index: 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  width: 100%;
}
.featurs .container .imagesMobile {
  position: relative;
}

.featurs .container .imagesMobile img {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
}

.featurs .container .design {
  padding: 50px;
  background-color: rgb(15 116 143 / 70%);
  color: white;
}
.featurs .container .design .text2 h2 {
  font-weight: 300;
  padding-bottom: 40px;
  text-transform: uppercase;
}
.featurs .container .design .text2 .d1 {
  display: flex;
}
.featurs .container .design .text2 .d1 {
  margin-bottom: 30px;
}
.featurs .container .design .text2 .d1 i {
  margin-right: 20px;
}

@media (max-width: 767px) {
  .featurs .container .imagesMobile {
    display: none;
  }
  .featurs .container {
    grid-template-columns: 1fr;
  }
}

.portfolioTitle {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.portfolioTitle .container h1 {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 200;
}
.portfolioTitle .container p {
  color: #777;
  line-height: 2;
}
.portfolioTitle .container .circ {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.portfolioTitle .container .circ span {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid black;
  position: relative;
}
.portfolioTitle .container .circ span::before {
  position: absolute;
  content: "";
  height: 2px;
  width: 60px;
  background-color: black;
  left: -62px;
  top: 7px;
}
.portfolioTitle .container .circ span::after {
  position: absolute;
  content: "";
  height: 2px;
  width: 60px;
  background-color: black;
  left: 17px;
  top: 7px;
}

.portfolio .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 3px;
}
.portfolio .shuffle {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.portfolio .shuffle ul {
  display: flex;
  list-style: none;
}
.portfolio .shuffle ul li {
  padding: 10px;
}
.portfolio .shuffle ul li.active {
  background-color: #19c8fa;
  color: white;
}
.portfolio .container .div1 {
  height: 250px;
  overflow: hidden;
  position: relative;
}
.portfolio .container .div1:hover img {
  transform: scale(1.1) skewY(3deg);
}
.portfolio .container .div1:hover .caption {
  bottom: 0;
}
.portfolio .container .div1 .caption {
  position: absolute;
  left: 0;
  padding: 20px;
  background-color: white;
  width: 100%;
  transition: 0.3s;
  bottom: -100px;
}
.portfolio .container .div1 .caption p {
  color: #19c8fa;
}
.portfolio .container .div1 .caption h4 {
  font-weight: normal;
  margin-bottom: 10px;
}
.portfolio .container .div1 img {
  height: 100%;
  width: 100%;
  transition: 0.3s;
}

@media (max-width: 1200px) {
  .portfolio .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 767px) {
  .portfolio .container {
    display: grid;
    grid-template-columns: 1fr;
  }
}

.portfolio .more {
  text-align: center;
  margin: 50px 0px 120px 0px;
}
.portfolio .more a {
  text-decoration: none;
  padding: 15px 25px;
  background-color: #19c8fa;
  color: white;
}

.vediopro {
  width: 100%;
  position: relative;
}

.vediopro video {
  width: 100%;
  height: 100%;
}

.vediopro::before {
  position: absolute;
  content: "";
  background-color: rgb(18 18 18 / 35%);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.vediopro .textVid {
  background-color: rgb(15 116 143 / 70%);
  position: absolute;
  width: 100%;
  height: 250px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  text-align: center;
  color: white;
}

.vediopro .textVid .text5 h2 {
  padding: 60px 0px 30px 0px;
  text-transform: uppercase;
  font-weight: 300;
}

.vediopro .textVid .text5 p {
  padding-bottom: 30px;
}

.vediopro .textVid .text5 button {
  padding: 12px 20px;
  background-color: black;
  color: white;
  border: none;
  font-size: 15px;
  text-transform: uppercase;
}

.aboutTitle {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.aboutTitle .container h1 {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 200;
}
.aboutTitle .container p {
  color: #777;
  line-height: 2;
}
.aboutTitle .container .circ {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.aboutTitle .container .circ span {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid black;
  position: relative;
}
.aboutTitle .container .circ span::before {
  position: absolute;
  content: "";
  height: 2px;
  width: 60px;
  background-color: black;
  left: -62px;
  top: 7px;
}
.aboutTitle .container .circ span::after {
  position: absolute;
  content: "";
  height: 2px;
  width: 60px;
  background-color: black;
  left: 17px;
  top: 7px;
}

.about {
  background-image: url("images/stats.png");
  background-size: cover;
  position: relative;
  margin-bottom: 100px;
  z-index: 1;
  margin-top: -116px;
  display: flex;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.about::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgb(18 18 18 / 70%);
  z-index: 2;
}
.aboutimg {
  display: flex;
  justify-content: center;
}

.aboutimg .imgtext img {
  height: 100%;
  width: 100%;
}
.about .container {
  width: 100%;
  position: relative;
  z-index: 3;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  color: white;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  padding-bottom: 60px;
  background-color: rgb(15 116 143 / 70%);
}
.about .container .div1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 1200px) {
  .about .container {
    width: 1140px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .about .container {
    width: 900px;
  }
}
@media (max-width: 992px) {
  .about .container {
    grid-template-columns: repeat(2, 1fr);
  }
  .about .container .div1:nth-child(1),
  .about .container .div1:nth-child(2) {
    margin-bottom: 80px;
  }
}

@media (max-width: 767px) {
  .about .container {
    grid-template-columns: 1fr;
  }
  .about .container .div1:not(:nth-child(4)) {
    margin-bottom: 80px;
  }
}

@media (min-width: 767px) and (max-width: 992px) {
  .about .container {
    width: 700px;
  }
}
.about .container .div1 i {
  width: 40px;
  height: 40px;
  background-color: black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
.about .container .div1 h1 {
  font-size: 45px;
  margin-bottom: 20px;
}

.skills .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 130px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 100px;
}

.skills .container .test .div1 {
  text-align: center;
}
.skills .container .test .div1 h3 {
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.skills .container .test .div1 p {
  color: #777;
  line-height: 2;
}
.skills .container .test .div2,
.skills .container .test .div3 {
  display: flex;
}
.skills .container .test .div2 {
  margin: 50px 0px 30px 0px;
}
.skills .container .test .div2 .text6 p:first-of-type,
.skills .container .test .div3 .text7 p:first-of-type {
  line-height: 2;
}
.skills .container .test .div2 p:nth-child(2),
.skills .container .test .div3 p:nth-child(2) {
  text-align: right;
  color: #777;
  padding: 10px;
  font-size: 15px;
}
.skills .container .test .div2 .image,
.skills .container .test .div3 .image {
  width: 171px;
  height: 100px;
  margin-right: 40px;
}

.skills .container .test .div2 .image img,
.skills .container .test .div3 .image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.skills .container .test .div3 .text7 .skillspan {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.skills .container .test .div3 .text7 .skillspan span {
  display: block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  margin-right: 10px;
  border: 1px solid #777;
}
.skills .container .test .div3 .text7 .skillspan span:nth-child(2) {
  background-color: #19c8fa;
  border: none;
}
.skills .container .skill .div4 {
  text-align: center;
  margin-bottom: 50px;
}
.skills .container .skill .div4 h3 {
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.skills .container .skill .div4 p {
  line-height: 2;
  color: #777;
}
.skills .container .skill .div5 .adobe,
.skills .container .skill .div5 .html,
.skills .container .skill .div5 .js {
  margin-bottom: 40px;
}

.skills .container .skill .div5 .adobe .adobe1,
.skills .container .skill .div5 .html .html1,
.skills .container .skill .div5 .js .js1,
.skills .container .skill .div5 .php .php1 {
  width: 100%;
  height: 30px;
  background-color: #eee;
}
.skills .container .skill .div5 p {
  margin-bottom: 10px;
  text-transform: uppercase;
}

.skills .container .skill .div5 .adobe .adobe1 span {
  display: block;
  width: 90%;
  height: 100%;
  background-color: #19c8fa;
  position: relative;
}
.skills .container .skill .div5 .adobe .adobe1 span::before {
  position: absolute;
  right: -21px;
  top: -42px;
  content: "90%";
  color: white;
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 75%,
    60% 75%,
    49% 99%,
    35% 75%,
    0% 75%
  );
  width: 35px;
  height: 30px;
  background-color: black;
  padding: 4px;
  border-radius: 3px;
  text-align: center;
}

.skills .container .skill .div5 .html .html1 span {
  display: block;
  width: 85%;
  height: 100%;
  background-color: #19c8fa;
  position: relative;
}
.skills .container .skill .div5 .html .html1 span::before {
  position: absolute;
  right: -21px;
  top: -42px;
  content: "85%";
  color: white;
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 75%,
    60% 75%,
    49% 99%,
    35% 75%,
    0% 75%
  );
  width: 35px;
  height: 30px;
  background-color: black;
  padding: 4px;
  border-radius: 3px;
  text-align: center;
}

.skills .container .skill .div5 .js .js1 span {
  display: block;
  width: 80%;
  height: 100%;
  background-color: #19c8fa;
  position: relative;
}
.skills .container .skill .div5 .js .js1 span::before {
  position: absolute;
  right: -21px;
  top: -42px;
  content: "80%";
  color: white;
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 75%,
    60% 75%,
    49% 99%,
    35% 75%,
    0% 75%
  );
  width: 35px;
  height: 30px;
  background-color: black;
  padding: 4px;
  border-radius: 3px;
  text-align: center;
}
.skills .container .skill .div5 .php .php1 span {
  display: block;
  width: 90%;
  height: 100%;
  background-color: #19c8fa;
  position: relative;
}
.skills .container .skill .div5 .php .php1 span::before {
  position: absolute;
  right: -21px;
  top: -42px;
  content: "90%";
  color: white;
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 75%,
    60% 75%,
    49% 99%,
    35% 75%,
    0% 75%
  );
  width: 35px;
  height: 30px;
  background-color: black;
  padding: 4px;
  border-radius: 3px;
  text-align: center;
}
@media (min-width: 1200px) {
  .skills .container {
    width: 1140px;
  }
}
@media (max-width: 992px) {
  .skills .container {
    grid-template-columns: 1fr;
  }
  .skills .container .test .div2,
  .skills .container .test .div3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .skills .container .test .div2 .image,
  .skills .container .test .div3 .image {
    margin: 0 0 30px 0;
    width: 100px;
  }
}

.clippbati {
  position: relative;
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 75%,
    60% 75%,
    49% 99%,
    35% 75%,
    0% 75%
  );
  width: 35px;
  height: 30px;
  background-color: black;
}

.qoute {
  background-image: url("images/quote.jpg");
  background-size: cover;
  height: 300px;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  padding: 10px;
  margin-bottom: 30px;
}

.qoute::before {
  background-color: rgb(16 16 16 / 75%);
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.qoute h1,
.qoute p {
  position: relative;
  z-index: 3;
  font-weight: 200;
}
.qoute h1 {
  margin-bottom: 20px;
}

.pricingTitle {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.pricingTitle .container h1 {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 200;
}
.pricingTitle .container p {
  color: #777;
  line-height: 2;
}
.pricingTitle .container .circ {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.pricingTitle .container .circ span {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid black;
  position: relative;
}
.pricingTitle .container .circ span::before {
  position: absolute;
  content: "";
  height: 2px;
  width: 60px;
  background-color: black;
  left: -62px;
  top: 7px;
}
.pricingTitle .container .circ span::after {
  position: absolute;
  content: "";
  height: 2px;
  width: 60px;
  background-color: black;
  left: 17px;
  top: 7px;
}
.pricing {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}
.pricing .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  column-gap: 30px;
  row-gap: 50px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1140px;
}

.pricing .container .div1 {
  text-align: center;
}

.pricing .container .div1 .number {
  border-top: 1px solid #19c8fa;
  border-bottom: 1px solid #19c8fa;
}
.pricing .container .div1 .number h1 {
  font-size: 60px;
  margin-bottom: 30px;
}

.pricing .container .div1 .number h1 span:nth-child(2) {
  font-size: 20px;
}
.pricing .container .div1 .number h1 span:nth-child(1) {
  position: relative;
}
.pricing .container .div1 .number h1 span:nth-child(1)::before {
  position: absolute;
  content: "$";
  left: -23px;
  top: -13px;
  color: black;
  font-size: 24px;
}
.pricing .container .div1 .number p {
  margin: 30px 0;
  font-size: 19px;
  text-transform: uppercase;
}
.pricing .container .div1 .feature ul {
  list-style: none;
}
.pricing .container .div1 .feature ul li {
  padding: 20px 0px;
  position: relative;
}
.pricing .container .div1 .feature {
  border-bottom: 1px solid #19c8fa;
}
.pricing .container .div1 .feature ul li:not(:nth-child(4))::before {
  position: absolute;
  content: "";
  width: 55%;
  height: 1px;
  background-color: #19c8fa;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.pricing .container .div1 button {
  padding: 20px;
  border: 1px solid #19c8fa;
  color: #19c8fa;
  background-color: white;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
}

.contactUs {
  text-align: center;
  margin-bottom: 100px;
}
.contactUs p {
  font-size: 19px;
  padding-bottom: 15px;
}

.contactUs button {
  padding: 15px 30px;
  background-color: #19c8fa;
  color: white;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.subscribe {
  background-image: url("images/subscribe.jpg");
  background-size: cover;
  height: 260px;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subscribe::before {
  position: absolute;
  content: "";
  background-color: rgb(16 16 16 /50%);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}
.subscribe .container {
  position: relative;
  z-index: 3;
  color: white;
  display: flex;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .subscribe .container {
    width: 950px;
  }
}

@media (max-width: 992px) {
  .subscribe .container {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .subscribe .container form {
    margin-bottom: 30px;
  }
}
.subscribe .container form {
  width: 500px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.subscribe .container form i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
}
.subscribe .container form input:nth-child(2) {
  padding: 20px 20px 20px 60px;
  background: none;
  border: 1px solid white;
  border-right: none;
  width: calc(100% - 130px);
  outline: none;
}

.subscribe .container form input:nth-child(2)::placeholder {
  font-size: 16px;
  color: white;
}
.subscribe .container form input:nth-child(3) {
  width: 130px;
  background-color: #19c8fa;
  color: white;
  border: 1px solid white;
  border-left: none;
  padding: 20px;
}
.subscribe .container p {
  margin-left: 40px;
  line-height: 2;
}

.contactTitle {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.contactTitle .container h1 {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 200;
}
.contactTitle .container p {
  color: #777;
  line-height: 2;
}
.contactTitle .container .circ {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.contactTitle .container .circ span {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid black;
  position: relative;
}
.contactTitle .container .circ span::before {
  position: absolute;
  content: "";
  height: 2px;
  width: 60px;
  background-color: black;
  left: -62px;
  top: 7px;
}
.contactTitle .container .circ span::after {
  position: absolute;
  content: "";
  height: 2px;
  width: 60px;
  background-color: black;
  left: 17px;
  top: 7px;
}
.contact {
  margin-bottom: 100px;
}
.contact .container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 50px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.contact .container form input:not(:nth-child(4)) {
  display: block;
  width: 100%;
  padding: 20px;
  margin-bottom: 25px;
  border: 1px solid #e0e0e0;
  outline: none;
  caret-color: blue;
}

.contact .container form textarea {
  width: 100%;
  height: 200px;
  padding: 20px;
  border: 1px solid #e0e0e0;
  outline: none;
  margin-bottom: 25px;
}

.contact .container form input::placeholder,
.contact .container form textarea::placeholder {
  font-size: 14px;
}

.contact .container form input:nth-child(4) {
  display: flex;
  margin-left: auto;
  padding: 20px;
  border: none;
  background-color: #19c8fa;
  color: white;
  text-transform: uppercase;
  font-size: 13px;
}

.contact .container .divtext .div1 {
  margin-bottom: 70px;
}
.contact .container .divtext p {
  color: #777;
  margin-bottom: 10px;
  font-size: 15px;
}
.contact .container .divtext h4 {
  margin-bottom: 30px;
}
@media (min-width: 1200px) {
  .contact .container {
    width: 1140px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .contact .container {
    width: 850px;
  }
}

@media (max-width: 767px) {
  .contact .container {
    grid-template-columns: 1fr;
  }
  .contact .container form {
    order: 2;
  }
  .contact .container .divtext {
    order: 1;
    text-align: center;
  }
}

footer {
  background-image: url("images/subscribe.jpg");
  background-size: cover;
  position: relative;
  z-index: 1;
  height: 350px;
}

footer::before {
position: absolute;
content: "";
background-color: rgb(14 14 14 /75%);
width: 100%;
height: 100%;
top: 0;
left: 0;
z-index: 2;
}

footer .container {
  position: relative;
  z-index: 3;
  color: white;
  text-align: center;
}

footer .container .logo {
padding: 50px;
}

footer .container .foottext h3 {
font-weight: 300;
text-transform: uppercase;
padding: 20px;
display: inline;
border-bottom: 1px solid white;
}

footer .container .foottext .icons {
padding: 50px 0px ;
display: flex;
justify-content: center;
margin-left: 30px;
}

footer .container .foottext .icons i {
margin-right: 30px;
}

footer .container .foottext p {
font-size: 15px;
}

footer .container .foottext p span {
  color: #19c8fa;
}